#pop-up-note {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61.4754cqw;
    height: 61.4754cqw;
    z-index: 10;
}

#form-container {
    display: flex;
    font-family: 'Trebuchet MS';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(0.5123cqw);
    pointer-events: auto;
    opacity: 1;
    width: 61.4754cqw;
    height: 61.4754cqw;
    background-color: rgba(0, 0, 0, 0.688);
    border-radius: 2.5615cqw;
    box-shadow: 4.0984cqw 4.0984cqw 4.0984cqw 4.0984cqw rgba(0, 0, 0, 0.521);
    border: 0.3074cqw solid rgb(0, 0, 0);
    margin-top: 0;
}

.settings-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8443cqw;
    color: rgb(255, 255, 255);
    width: 56.3525cqw;
    margin-bottom: 2.0492cqw;
}

h1 {
    font-size: 2.0492cqw;
    margin: 0.2049cqw;
}

#close {
    width: 2.5615cqw;
    height: 2.5615cqw;
    color: white;
    text-align: center;
    background-color: rgb(226, 0, 0);
    border-radius: 0.5123cqw;
    user-select: none;
    /* Desactiva la selección de texto */
    cursor: default;
}

#close:hover {
    box-shadow: 0 0 1.0246cqw rgba(0, 0, 0, 0.733);
    /* Sombreado al pasar el mouse */
    background-color: rgb(255, 61, 61);
}

#sectionUP {
    display: flex;
    width: 53.2787cqw;
    flex-direction: row;
    justify-content: left;
}


#section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.1025cqw solid black;
    width: 29.7131cqw;
    border-radius: 2.0492cqw;
    background-color: rgba(0, 0, 0, 0.212);
    margin-bottom: 1.0246cqw;
}

#upRightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1025cqw solid rgb(0, 0, 0);
    margin-left: 1.0246cqw;
    width: 22.5410cqw;
    height: 8.1967cqw;
    margin-bottom: 1.0246cqw;
    border-radius: 2.0492cqw;
    background-color: rgb(0, 0, 0);
}

#infoTitle {
    font-size: 1.4344cqw;
    font-weight: bold;
    color: #31aed4;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.8197cqw;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 0.1025cqw rgb(20, 20, 20);
    margin-bottom: 0.5123cqw;
}

.infoText {
    width: 4.6107cqw;
    font-size: 1.1270cqw;
    font-weight: bold;
    color: #31aed4;
    margin-top: 0;
    margin-bottom: 0;
}

.notes-info {
    width: 8.7090cqw;
    font-size: 1.1270cqw;
    font-weight: bold;
    text-align: right;
    color: #31aed4;
    margin-top: 0;
    margin-bottom: 0;
}


#section2 {
    border: 0.1025cqw solid black;
    border-radius: 2.0492cqw;
    background-color: rgba(0, 0, 0, 0.212);
    margin-bottom: 1.0246cqw;
    padding-bottom: 1.0246cqw;
}

#section3 {
    border: 0.1025cqw solid black;
    border-radius: 2.0492cqw;
    background-color: rgba(0, 0, 0, 0.212);
    margin-bottom: 1.5369cqw;
    padding-bottom: 1.0246cqw;
}

.checkbox-container {
    display: flex;
    align-items: center;
    height: 2.0492cqw;
    margin-top: 1.0246cqw;
    margin-left: 2.0492cqw;
    margin-bottom: 1.0246cqw;
}

.select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 51.2295cqw;
    padding: 0.5123cqw;
    margin: 0.5123cqw;
    border-radius: 1.0246cqw;
}

.options-container {
    display: flex;
    align-items: center;
    width: 12.2951cqw;
    height: 3.0738cqw;
    padding: 0px;
    font-size: 1.2295cqw;
    justify-content: left;
}

label {
    font-size: 1.4344cqw;
    color: rgb(255, 255, 255);
    margin-right: 2.0492cqw;
    width: 12.2951cqw;
    text-align: right;
}

.upper-options {
    width: 10.2459cqw;
}

.labelSection3 {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 12.2951cqw;
    margin-right: 1.5369cqw;
}

#chord {
    width: 6.1475cqw;
    padding-left: 1.0246cqw;
}

select {
    text-align: right;
    width: 12.2951cqw;
    height: 2.5615cqw;
    border-radius: 0.5123cqw;
    padding: 0px;
    font-size: 1.2295cqw;
}

.noteSelection {
    width: 6.1475cqw;
}

.octaveSelection {
    width: 6.1475cqw;
}

#program-btn {
    width: 10.2459cqw;
    height: 3.0738cqw;
    color: white;
    font-size: 1.2295cqw;
    box-shadow: 0 0 0.2049cqw 0.2049cqw rgba(0, 0, 0, 0.438);
    border-radius: 0.7172cqw;
    margin: 1.0246cqw;
    background-color: rgb(226, 0, 0);
}

#program-btn:disabled {
    background-color: grey;
    color: darkgrey;
}

/* Permitir scroll en móviles si el popup es muy alto */
@media (max-height: 550px) and (orientation: landscape) {
    #pop-up-note {
        top: 0;
        transform: translate(-50%, 0);
        margin-top: 10px;
    }

    #form-container {
        max-height: 90vh;
        overflow-y: auto;
        justify-content: flex-start;
        padding-top: 20px;
    }

    select {
        text-align: center;
        padding-left: 5px;
    }
}